.face-header-sub {
  background-color: rgba(242, 242, 242, 0.7);
  border-bottom: 1px solid #ededed;
}
.face-header-sub-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.face-header-sub-nav {
  text-align: center;
}
.face-header-sub-nav-item {
  display: inline-block;
  color: #666;
  text-decoration: none;
  padding: .5em;
}
.face-header-sub-nav-item:hover,
.face-header-sub-nav-item--on {
  color: #4688f1;
}
