.face-header-sub {
  background-color: rgba(254, 254, 254, 0.9);
  border-bottom: 1px solid #f9fafb;
}
.face-header-sub-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.face-header-sub-nav {
  text-align: center;
}
.face-header-sub-nav-item {
  display: inline-block;
  color: #666;
  text-decoration: none;
  padding: .5em;
}
.face-header-sub-nav-item:hover,
.face-header-sub-nav-item--active {
  color: #4688f1;
}
