.face-header-sub {
  background-color: rgba(242, 242, 242, 0.7);
  border-bottom: 1px solid #ededed;
}
.face-header-sub-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.face-header-sub-nav {
  text-align: center;
}
.face-header-sub-nav-item {
  display: inline-block;
  color: #666;
  text-decoration: none;
  padding: .5em;
}
.face-header-sub-nav-item:hover,
.face-header-sub-nav-item--on {
  color: #4688f1;
}
.face-header {
  background-color: #525a6f;
  background: linear-gradient(#525a6f, #484f61, #484f61);
  border-bottom: 1px solid #222;
  color: white;
}
.face-header-inner {
  box-sizing: border-box;
  display: flex;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.face-header-inner:after {
  content: ' ';
  display: block;
  clear: both;
}
.face-header-logo,
.face-header-nav,
.face-header-tool {
  padding-top: .5em;
  padding-bottom: .5em;
}
.face-header-logo-item,
.face-header-nav-item,
.face-header-tool-item {
  outline: none;
}
.face-header-logo-item-icon,
.face-header-nav-item-icon,
.face-header-tool-item-icon {
  color: #c1cbda;
}
img.face-header-logo-item-icon,
img.face-header-nav-item-icon,
img.face-header-tool-item-icon {
  height: 1.4em;
  vertical-align: middle;
  margin-top: -0.2em;
}
.face-header-nav,
.face-header-tool {
  line-height: 2em;
}
.face-header-nav-item,
.face-header-tool-item {
  margin-left: .2em;
  margin-right: .2em;
  color: inherit;
  text-decoration: none;
}
.face-header-logo {
  flex: initial;
  padding-left: 1em;
  margin-right: 1em;
  text-align: center;
}
.face-header-logo-photo {
  height: 2em;
  vertical-align: middle;
}
.face-header-navSwitch {
  cursor: pointer;
  transform: scale(1.4);
  opacity: .9;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: .5em 1em;
  line-height: 2em;
}
.face-header-navSwitch-close {
  display: none;
}
.face-header-nav {
  flex: auto;
  text-align: center;
}
.face-header-nav-item {
  outline: none;
  padding-left: .5em;
  padding-right: .5em;
  margin-left: .3em;
  margin-right: .3em;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  text-shadow: 0px 1px 0px #333;
}
.face-header-nav-item:focus {
  outline: none;
}
.face-header-nav-item:hover,
.face-header-nav-item--on {
  outline: none;
  opacity: .8;
}
.face-header-tool {
  flex: initial;
  padding-right: 1em;
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .face-header-inner {
    padding-left: 3em;
    padding-right: 3em;
  }
  .face-header-logo {
    flex: auto;
  }
  .face-header-navSwitch {
    display: block;
  }
  .face-header-nav {
    display: none;
    overflow-y: auto;
    background-color: #484f61;
    padding-left: 2em;
    padding-right: 2em;
  }
  .face-header-nav-item {
    line-height: 3em;
    display: block;
    border-bottom: 1px dotted #aaa;
  }
  .face-header-nav-item:hover,
  .face-header-nav-item--on {
    background-color: transparent;
  }
  .face-header-tool {
    position: absolute;
    right: 0;
    top: 0;
  }
  .face-header-tool-item-icon {
    opacity: .5;
  }
  .face-header-tool-item-label {
    display: none;
  }
  .face-header--nav-show .face-header-navSwitch-open {
    display: none;
  }
  .face-header--nav-show .face-header-navSwitch-close {
    display: block;
  }
  .face-header--nav-show .face-header-nav {
    position: fixed;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  .face-header--nav-show .face-header-nav-item--on {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
